# =================================
# FRONTEND - DESENVOLVIMENTO
# =================================

# API Backend (acessada pelo navegador do usuário)
NEXT_PUBLIC_API=http://localhost:7788

# API Backend (acessada internamente pelo Docker)
NEXT_PUBLIC_DOCKER_API=http://backend-dev:6677