# =================================
# DOCKER COMPOSE - VARIÁVEIS GLOBAIS
# =================================

# MySQL
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_USER=your_db_user
MYSQL_PASSWORD=your_db_password
MYSQL_DATABASE=loja

# Portas Expostas (host)
PORT_BACKEND=7788
PORT_FRONTEND=8888
PORT_DB=3317
PORT_PHPMYADMIN=8282